@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.rotateRight {
  animation: menuButton 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) normal;
  animation-fill-mode: forwards;
}

@keyframes menuButton {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}

.rotateLeft {
  animation: closeButton 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) normal;
}

@keyframes closeButton {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0);
  }
}

.runningUp {
  animation: preLoading 1s ease-in-out 2.2s forwards;
}

@keyframes preLoading {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1500px);
    height: 0%;
  }
}

.runningRight {
  animation: dash 5s linear forwards;
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
}


@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

/* gradient background right */
.blue__gradient {
  background: linear-gradient(200deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.filterwhite{
  filter: invert(100%) sepia(7%) saturate(27%) hue-rotate(244deg) brightness(108%) contrast(107%);
}

.filtergray{
  filter:invert(71%) sepia(0%) saturate(1%) hue-rotate(144deg) brightness(88%) contrast(83%);
}

.filterblue {
  filter: invert(74%) sepia(12%) saturate(6097%) hue-rotate(154deg) brightness(92%) contrast(91%);
}

.filterbright:hover{
  filter: invert(73%) sepia(77%) saturate(451%) hue-rotate(358deg) brightness(103%) contrast(96%);
}
.filterbright:not(:hover) {
  filter: invert(74%) sepia(12%) saturate(6097%) hue-rotate(154deg) brightness(92%) contrast(91%);
}

.rotated {
  writing-mode: tb-rl;
}

.btn:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.delay-75 {
  animation-delay: 75ms;
}

.delay-150 {
  animation-delay: 150ms;
}

header.nav-fixed {
  width: 100%;
  position: fixed;
  transition: 0.3s ease-in-out;
}

.nav-active {
  background-color:#fff;
  box-shadow: 5px -1px 12px -5px grey;
}
/* 
#preloader {
  background-image: url(./assets/loading_icon.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: fixed; */
  /* z-index:100;
} */
